@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --text-dark: #171717;
  --text-light: #525252;
  --extra-light: #a3a3a3;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: 'Merriweather', serif;
}

/**** General Rules  ****/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
}
a,
h1,
h2 {
  text-transform: uppercase;
}
h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 400;
  font-family: var(--header-font);
  text-align: center;
}
h3,
h4 {
  text-transform: capitalize;
}
ul,
li {
  list-style: none;
}
a{
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
  color: var(--white);
}
p{
  color: var(--text-light);
  line-height: 1.75rem;
  text-align: center;
}

img {
  display: flex;
  width: 100%;
}
.section_container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}
.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--text-dark);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--text-light);
}
/**** Header ****/

header {
  min-height: 600px;
  background-image: radial-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.9)),
    url(assets/header.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
/**** NavBar ****/
nav {
  position: fixed;
  isolation: isolate;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  z-index: 9;
}
.nav_header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--text-dark);
}
.nav_logo img{
  max-width: 70px;
}
.nav_menu_btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}
.nav_links {
  position: absolute;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--text-dark);
  transform: translateY(-100%);
  transition: 0.3s;
  z-index: -1;
}

.nav_links.open{
  transform: translateY(0);
}
.nav_links #n4{
display: none;
}
.nav_links a{
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}
.nav_links a:hover{
  border-color: var(--white);
}
/**** About ****/
#about p{
  max-width: 900px;
  margin-inline: auto;
  margin-bottom: 2rem;
}
#about img{
  max-width: 170px;
  margin-inline: auto;
}


/**** Responsive ****/
/*: Ipad */
@media (width > 768px) {
header{
  min-height: 650px;
}
nav{
  padding: 2rem 1rem;
  position:static;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_header{
  display: none;
}

.nav_links{
  padding: 0;
  width: 100%;
  position: static;
  transform: unset;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
}
.nav_links #n4{
  display: block;
}
.nav_links #n4{
  max-width: 150px;
}
}
/*: Desktop */
@media (width > 1024px){
  header{
    min-height: 700px;
  }
}

